<div class="card">
  <div class="card-header">
    <h2><%= t('activerecord.models.list.other') %></h2>
    <ul class="actions">
      <li>
        <a href="" title="<%= t('Refresh') %>">
            <i class="zmdi zmdi-refresh-alt"></i>
        </a>
      </li>
      <li>
        <%= link_to new_product_list_path, title: t('activerecord.link.add_new') do %>
            <i class="zmdi zmdi-plus"></i>
        <% end if can? :new, ProductList %>
      </li>
    </ul>
    <hr>
</div>
  <div class="card-body card-padding">
    <div class="table-responsive" style="margin-top: -20px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.product_list.list_name') %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @product_lists.each do |product_list| %>
            <tr>
                <td><%= product_list.list_name %></td>
              <td>
                <%= link_to product_list, title: t('activerecord.link.details'), class: "waves-effect" do %>
                  <span class="zmdi zmdi-search"></span>
                <% end %>
              </td>
              <td>
                <%= link_to edit_product_list_path(product_list), title: t('activerecord.link.edit'), class: "waves-effect" do %>
                  <span class="zmdi zmdi-edit"></span>
                <% end if can? :edit, product_list %>
              </td>
              <td>
                <%= link_to product_list, title: t('activerecord.link.destroy'), class: "waves-effect", method: :delete, data: { confirm: 'Tem certeza? Esta ação não pode ser desfeita, e ela fica registrada nos logs do sistema' } do %>
                  <span class="zmdi zmdi-delete"></span>
                <% end if can? :destroy, product_list %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @product_lists, class: "apple_pagination", previous_label: t('activerecord.link.previous'), next_label: t('activerecord.link.next') %>
  </div>
  <br>
</div>
