<div class="card">
  <div class="card-header">
    <h2><%= t('helpers.submit.general.show', model: t('activerecord.models.user.one')) %></h2>

    <ul class="actions">
      <li>
        <%= link_to users_path, title: t('activerecord.link.back_to_list') do %>
            <i class="zmdi zmdi-arrow-left"></i>
        <% end %>
      </li>
      <li>
          <a href="" title="<%= t('Refresh') %>">
              <i class="zmdi zmdi-refresh-alt"></i>
          </a>
      </li>
      <li>
				<%= link_to edit_user_path(@user), title: t('Edit') do %>
            <i class="zmdi zmdi-edit"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="card-body card-padding record-show">
    <div class="row">
      <div class="col-sm-6">
        <label class="fg-label"><%= t("activerecord.attributes.user.email") %></label><br/>&nbsp;
        <%= @user.email %>
      </div>
      <div class="col-sm-6">
        <label class="fg-label"><%= t("activerecord.attributes.user.name") %></label><br/>&nbsp;
        <%= @user.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label class="fg-label"><%= t("activerecord.attributes.user.is_active") %></label><br/>&nbsp;
        <%= @user.is_active ? "Sim" : "Não" %>
      </div>
      <div class="col-sm-10">
        <label class="fg-label"><%= t("activerecord.attributes.user.user_roles") %></label><br/>&nbsp;
        <%= (@user.roles.pluck(:name).map { |m| t("roles.names.#{m}") }).join(", ") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label class="fg-label"><%= t("activerecord.attributes.user.created_at") %></label><br/>&nbsp;
        <%= @user.created_at %>
      </div>
      <div class="col-sm-6">
        <label class="fg-label"><%= t("activerecord.attributes.user.updated_at") %></label><br/>&nbsp;
        <%= @user.updated_at %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <label class="fg-label"><%= t("activerecord.attributes.user.avatar") %></label><br/>&nbsp;
        <%= link_to url_for(@user.avatar), data: { lightbox: true } do %>
          <%= image_tag url_for(@user.avatar.variant(resize: "100x100")) %>
        <% end if @user.avatar.attached? %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "layouts/record_changes", locals: { :@object => @user } %>